extends layout

block content
  #logo-header.full.medium
    .logo-stripe.full.fancy-clear
      include includes/tabzilla
      .splash-logo

  #splash-cta-container.full.light
    #splash-cta.wrapper
      header
        h1.splash-title= mainHeader
        h2.splash-desc= subHeader
      .success-wrapper
        .success.email-submitted= mailResponses.success
      .error-wrapper
        .error.invalid-email.hidden= mailResponses.invalid
        .error.server-error.hidden= mailResponses.serverError
      form(id="signup-form", role="form", class="splash-email-submit" novalidate="" )
        input(type="email" id="email", name="email", placeholder="#{form.inputPlaceholder}" autofocus autocomplete="off")
        input(type="submit" id="signup" class="disabled" value="#{form.submitValue}" autocomplete="off")
        .disclaimer!= disclaimer

  .full
    #splash-content.wrapper
      .row
        each splash in splashes
          .third
            .splash-image(class="#{splash.image}")
            h3.splash-title= splash.title
            p.splash-copy-point= splash.desc
