extends layout

block content
  .full.fancy-medium
      include includes/tabzilla

      #splash-header.wrapper
        header
          .splash-logo
          h1.splash-title= mainHeader
          h2.splash-desc= subHeader
          // p.parens #{parens}
        form(id="signupForm", role="form", class="splash-email-submit")
          input(type="email" id="email", name="email", placeholder="what's your email?")
          input(type="submit" id="signup" value="Sign up")
        // .error invalid email address...try again
        // include includes/mailchimp

    .full
      #splash-content.wrapper
        .row
          each splash in splashes
            .third
              .splash-image
              h3.splash-title= splash.title
              p.splash-copy-point= splash.desc
    script.
        document.querySelector('#signup').addEventListener('click', function(ev) {
          ev.preventDefault();
          var data = new FormData();
          var emailVal = document.querySelector('#email').value;
          data.append('email', emailVal);

          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/signup', true);
          xhr.onload = function () {
          // do something to response
            console.log(this.responseText);
          };
          xhr.send(data);
        })