extends layout

block content
  #logo-header.full.medium
    .logo-stripe.full.fancy-clear
      include includes/tabzilla
      .splash-logo

  #splash-cta-container.full.light
    #splash-cta.wrapper
      header
        h1.splash-title= mainHeader
        h2.splash-desc= subHeader
      form(id="signupForm", role="form", class="splash-email-submit" novalidate="")
        .success.email-submitted.hidden= mailResponses.success
        .error.invalid-email.hidden= mailResponses.invalid
        .error.server-error.hidden= mailResponses.serverError
        input(type="email" id="email", name="email", placeholder="#{form.inputPlaceholder}" tabindex="1")
        input(type="submit" id="signup" value="#{form.submitValue}")
        .disclaimer!= disclaimer

  .full
    #splash-content.wrapper
      .row
        each splash in splashes
          .third
            .splash-image
            h3.splash-title= splash.title
            p.splash-copy-point= splash.desc
